@charset "utf-8";
/* CSS Document */


body {
	margin:0px;
	background-image:url(../images/1.png);
	background-attachment:fixed;
}
	
ul.nav {
    list-style-type: none;
	margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.nav a {
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
	
li.nav a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

li.nav a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

.headerr {
	width:100%;
	margin:0px;
	margin-top:0px;
	position:fixed;
	overflow:visible;
	z-index:9;
}

img.logo {
	padding-left:10px;
	margin-bottom::0px;
}
div.colgpic {
	margin-top:0px;
	width:100%;
}

div.headerr .dropdown {
    display:inline-block;
}

div.headerr .dropdown-content {
	margin-top:45px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
}

div.headerr .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
	font-size:16px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
}

div.headerr .dropdown-content a:hover {background-color: #C0E3FE}

div.headerr .dropdown:hover .dropdown-content {
    display: block;
}
